#ignore files in virtual env
venv/
.venv/
.venv311/

#ignore json files
*.json

#ignore pycache
__pycache__/

aws_sagemaker/data/

!label_mapping.json
aws_textract/out/

*.jpg
*.png
*.mp3

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
