/* General container */
.container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: white;
  }
  
  /* PDF section */
  
  .pdf-section {
    position: absolute;
    top: 5%;
  }
  
  .pdf-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  .pdf-link:hover {
    text-decoration: underline;
  }
  
  /* PDF viewer styles */
  .pdf-viewer {
    border: none;
  }
  
  /* Camera section */
  .camera-section {
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(-50%, 0);
  }
  
  .camera-icon {
    width: 200px;
    height: 200px;
  }
  
  /* Microphone section */
  .microphone-section {
    position: absolute;
    top: 5%;
    right: 7%;
  }
  
  .replay-section {
    position: absolute;
    bottom: 5%;
    right: 7%;
  }

  .replay-icon {
    width: 300px;
    height: 300px;
  }

  .microphone-icon {
    width: 300px;
    height: 300px;
  }
  
  .camera-button, .microphone-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  